.singin {
    width: 100%;
    height: 550px;
    position: relative;
    //background-color: skyblue;

    .singin-container {
        height: 100%;
        //border: 1px solid blue;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .vl {
        border-left: 1px solid green;
        height: 350px;
        margin: 24px;
      }

    .profile-login-container{
        display: flex;
        flex-direction: column;
        align-items: self-start;
        justify-content: space-evenly;
        flex-wrap: wrap;

        .btn-profile-login{
            margin: 10px;
            width: auto;
            height: auto;
            background-color: aquamarine;
        }
    }
}