.landing {
    // background-color: azure;
    text-align: center;
    width: 100%;
    height: 75%;
    position: relative;

    .landing-container{
        height: 550px;
        // border: 10px solid blue;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        // margin: 10% auto;
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translate(-50%,-50%);

        .seach-form{
            // border: 2px solid yellow;
            width: 75%;
            height: 50px;
            
            .text-input {
                width: 50%;
                height: 45px;

            }

            .btn-search {
                margin: 10px;
                height: 45px;
            }
        }
        .calendar-container{
            width: 75%;
            height: auto;
            overflow-y: auto;
            //border: 2px solid gold;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }
    }
}