.footer-container {
    background-color: gray;
    bottom: 0px;
    position: fixed;
    width: 100%;
    height: 25%;
  
    .footer{
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      
      .footer-title{
        text-decoration: underline  white;
        color: whitesmoke;
      }
    }
  
  }